
.viewer-wrap {
  flex: 1;
  min-width: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  max-height: 400px; /* ierobežojam augstumu */
  overflow: hidden;
}

.viewer-wrap img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* saglabā proporcijas */
}
